---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ever Dream With Dev?</title>
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
  </head>
  <body>
    <div class="container ui-centralize-wrapper">
      <header class="border">
        <h3>Resources</h3>
        <p>do some explore or return <a href="/">home</a></p>
      </header>

      <article class="border disclamer">
        <p>
          first, some thoughts on the importance of linking by
          <a href="https://oii.io">olia lialina</a> and
          <a href="https://melonking.net">melonking</a>
        </p>
      </article>

      <article class="border">
        <!-- font: small mono 99 -->
        <pre style="font-size:7px;">                                                            
                     ▗                ▐                     
 ▄▖  ▄▖ ▗▄▄ ▗▄▖ ▗ ▗ ▗▟▄  ▄▖  ▖▄      ▄▟ ▗ ▗ ▗▄▄ ▗▄▖ ▗▄▖ ▗▄▖ 
▐▘▝ ▐▘▜ ▐▐▐ ▐▘▜ ▐ ▐  ▐  ▐▘▐  ▛ ▘    ▐▘▜ ▐ ▐ ▐▐▐ ▐▘▜ ▐▘▜ ▐▘▜ 
▐   ▐ ▐ ▐▐▐ ▐ ▐ ▐ ▐  ▐  ▐▀▀  ▌      ▐ ▐ ▐ ▐ ▐▐▐ ▐ ▐ ▐ ▐ ▐ ▐ 
▝▙▞ ▝▙▛ ▐▐▐ ▐▙▛ ▝▄▜  ▝▄ ▝▙▞  ▌      ▝▙█ ▝▄▜ ▐▐▐ ▐▙▛ ▐▙▛ ▐▙▛ 
            ▐                                   ▐   ▐   ▐   
            ▝                                   ▝   ▝   ▝   
        </pre>
        <p>teste</p>
        <ul>
          <li><a href="https://vimm.net">vimm's lair</a> - home of varios rom and virtualization features</li>
          <li><a href="https://vimm.net">vimm's lair</a> - home of varios rom and virtualization features</li>
          <li><a href="https://vimm.net">vimm's lair</a> - home of varios rom and virtualization features</li>
          <li><a href="https://vimm.net">vimm's lair</a> - home of varios rom and virtualization features</li>
        </ul>
      </article>
    </div>
  </body>
</html>
