---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Ever Dream With Dev?">
  <!DOCTYPE html>
  <!-- 90901020@A -->
  <header>
    <font face="Arial,Helvetica,sans-serif" size="8">
      <strong>EVER DREAM THIS MF?</strong><br />
      <font size="6">every night throughout the world hundreds of people dream about this face</font>
    </font>
  </header>
  <article class="main">
    <nav>
      <ul>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/catalogue/">catalogue</a></li>
        <li><a href="/catalogue/">theory</a></li>
        <li><a href="/catalogue/">portraits</a></li>
        <li><a href="/catalogue/">guestbook</a></li>
        <li><a href="/catalogue/">theory</a></li>
        <li><a href="/home/">resources</a></li>
        <li><a href="/about/">wiki</a></li>
      </ul>
    </nav>
    <img src="/assets/images/color.png" alt="who knows" />
  </article>
  <footer>
  <td colspan="5">
    <div class="email" align="center"><br><br><br>
      <font face="Arial,Helvetica,sans-serif" size="2">e-mail: brunocebrsilva@gmal.com</font>
    </div>
  </td>
  </footer>
</BaseLayout>
