---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Ever Dream With Dev?">
  <!DOCTYPE html>
  <!-- 90901020@A -->
  <header>
    <font face="Arial,Helvetica,sans-serif" size="7">
      <strong>EVER DREAM THIS MF?</strong><br />
      <font size="5">every night throughout the world hundreds of people dream about this face</font>
    </font>
  </header>
  <article class="main">
    <nav>
      <ul>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/catalogue/">catalogue</a></li>
        <li><a href="/catalogue/">theory</a></li>
        <li><a href="/home/">resources</a></li>
        <li><a href="/about/">about</a></li>
      </ul>
    </nav>
    <aside>
      <img src="/assets/images/color.png" alt="who knows" />
    </aside>
  </article>
  <footer>
    <!-- e-mail: info@thisman.org -->
  </footer>
</BaseLayout>
